<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DbConnectionString"
             connectionString="Data Source=DLLRAZVI;Initial Catalog=PracticDBMS;Integrated Security=True"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="InsertSmartHome" value="INSERT INTO SmartHomes (Name, Address, NeighborhoodID, ResidentID) VALUES (@Name, @Address, @NeighborhoodID, @ResidentID)" />
		<add key="UpdateSmartHome" value="UPDATE SmartHomes SET Name = @Name, Address = @Address WHERE SmartHomeID = @SmartHomeID" />
		<add key="DeleteSmartHome" value="DELETE FROM SmartHomes WHERE SmartHomeID = @SmartHomeID" />
	</appSettings>
</configuration>
